<li class="nav-item dropdown position-static">
    <div class="d-flex align-items-center">
        <a class="nav-link pe-1 {f:if(condition: item.active, then: 'active')}" href="{item.link}">{item.title}</a>
        <a class="nav-link dropdown-toggle dropdown-toggle-split ps-1" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </a>
        <div class="dropdown-menu w-100 shadow-lg border-0 mt-0">
            <div class="container">
                <div class="row">
                    <f:for each="{item.children}" as="group">
                        <div class="col-12 col-sm-6 col-md-3 py-4">
                            <h6 class="text-uppercase fw-bold text-primary mb-3">
                                <a href="{group.link}" class="text-decoration-none text-primary">{group.title}</a>
                            </h6>
                            <f:if condition="{group.children}">
                                <ul class="list-unstyled">
                                    <f:for each="{group.children}" as="link">
                                        <li>
                                            <a class="text-decoration-none mb-1 d-block {f:if(condition: link.active, then: 'fw-bold text-primary')}"
                                                href="{link.link}">
                                                {link.title}
                                            </a>
                                        </li>
                                    </f:for>
                                </ul>
                            </f:if>
                        </div>
                    </f:for>
                </div>
            </div>
        </div>
    </div>
</li>