<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="activeClass">{f:if(condition: item.current, then: 'active')}</f:variable>
<f:if condition="{item.data.link}">
    <f:then>
        <f:link.typolink parameter="{item.data.link}"
            class="list-group-item list-group-item-action d-flex align-items-center {activeClass} {extraClass}">
            {content -> f:format.raw()}
        </f:link.typolink>
    </f:then>
    <f:else>
        <div class="list-group-item list-group-item-action d-flex align-items-center {activeClass} {extraClass}">
            {content -> f:format.raw()}
        </div>
    </f:else>
</f:if>

</html>