<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
    <f:render partial="Header/All" arguments="{_all}" />
</f:section>
<f:section name="Main">
    <f:if condition="{gallery.rows}">
        <div class="gallery gallery-{gallery.count.columns}">
            <f:for each="{gallery.rows}" as="row">
                <f:for each="{row.columns}" as="col">
                    <f:if condition="{col.media}">
                        <div class="gallery-item">
                            <a href="{col.media.originalFile.publicUrl}" class="glightbox"
                                data-gallery="gallery-{data.uid}" data-description="{col.media.description}">
                                <f:media file="{col.media}" class="img-fluid" alt="{col.media.alternative}" />
                            </a>
                        </div>
                    </f:if>
                </f:for>
            </f:for>
        </div>
    </f:if>
</f:section>

</html>