<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:render partial="Header/All" arguments="{_all}" />
<f:layout name="Default" />
<f:section name="Main">
    <div class="row {data.tx_spark_gutter_x} {data.tx_spark_gutter_y} {data.tx_spark_valign}">
        <div class="col-md-6 {data.tx_spark_padding_x} {data.tx_spark_padding_y}">
            <f:for each="{children_201}" as="child">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
        </div>
        <div class="col-md-6 {data.tx_spark_padding_x} {data.tx_spark_padding_y}">
            <f:for each="{children_202}" as="child">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
        </div>
    </div>
</f:section>

</html>