<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="iconClass" value="bi-envelope" />
<f:if condition="{item.data.contact_type} == 'phone'">
    <f:variable name="iconClass" value="bi-telephone" />
</f:if>
<f:if condition="{item.data.contact_type} == 'address'">
    <f:variable name="iconClass" value="bi-geo-alt" />
</f:if>
<f:if condition="{item.data.contact_type} == 'website'">
    <f:variable name="iconClass" value="bi-globe" />
</f:if>

<f:variable name="content">
    <div class="flex-shrink-0 bg-light rounded-circle d-flex align-items-center justify-content-center me-3"
        style="width: 40px; height: 40px;">
        <i class="bi {iconClass} text-primary"></i>
    </div>
    <div class="flex-grow-1 text-break">{item.data.bodytext}</div>
</f:variable>
<f:render partial="ListGroup/LinkWrapper" arguments="{item: item, content: content, extraClass: 'contact-list-item'}" />

</html>