<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="frameClass">{f:if(condition: data.frame_class, then: 'frame-background-{data.frame_class}', else: 'frame-background-none')}</f:variable>
<f:variable name="containerClass">
    <f:switch expression="{data.frame_layout}">
        <f:case value="1">container</f:case>
        <f:case value="2">container-sm</f:case>
        <f:case value="3">container-md</f:case>
        <f:case value="4">container-lg</f:case>
        <f:case value="5">container-xl</f:case>
        <f:case value="6">container-xxl</f:case>
        <f:case value="7">container-fluid</f:case>
        <f:case default="true">container</f:case>
    </f:switch>
</f:variable>

<section id="c{data.uid}" class="frame {frameClass} frame-space-before-{data.space_before_class -> f:or(alternative: 'none')} frame-space-after-{data.space_after_class -> f:or(alternative: 'none')}">
    <div class="{containerClass}">
        <div class="frame-inner">
            <f:render section="Header" optional="true" />
            <f:render section="Main" optional="true" />
            <f:render section="Footer" optional="true" />
        </div>
    </div>
</section>
</html>
