<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Header">
    <f:if condition="{data.tx_header_inside} != 1 && {data.header_layout} != 100">
        <div class="mb-3">
            <f:render partial="Header/All" arguments="{_all}" />
        </div>
    </f:if>
</f:section>

<f:section name="Main">
    <f:if condition="{gallery.position.horizontal} == center">
        <f:render section="TopCenter" arguments="{_all}" />
    </f:if>

    <f:if
        condition="{gallery.position.horizontal} == right && {gallery.position.vertical} == intext && {gallery.position.noWrap} != TRUE">
        <f:render section="InTextRight" arguments="{_all}" />
    </f:if>

    <f:if
        condition="{gallery.position.horizontal} == left && {gallery.position.vertical} == intext && {gallery.position.noWrap} != TRUE">
        <f:render section="InTextLeft" arguments="{_all}" />
    </f:if>

    <f:if
        condition="{gallery.position.horizontal} == right && {gallery.position.vertical} == intext && {gallery.position.noWrap} == TRUE">
        <f:render section="NextToTextRight" arguments="{_all}" />
    </f:if>

    <f:if
        condition="{gallery.position.horizontal} == left && {gallery.position.vertical} == intext && {gallery.position.noWrap} == TRUE">
        <f:render section="NextToTextLeft" arguments="{_all}" />
    </f:if>

    <f:if condition="{gallery.position.vertical} == below">
        <f:render section="Below" arguments="{_all}" />
    </f:if>
</f:section>

<f:section name="TopCenter">
    <div class="ce-textmedia ce-topcenter">
        <div class="mb-3">
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </div>
        <f:if condition="{data.bodytext} || {data.header}">
            <div class="ce-bodytext">
                <f:if condition="{data.tx_header_inside} = 1">
                    <f:render partial="Header/All" arguments="{_all}" />
                </f:if>
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:if>
    </div>
</f:section>

<f:section name="InTextRight">
    <div class="ce-textmedia ce-intext-right clearfix">
        <f:if condition="{data.bodytext} || {data.header}">
            <div class="float-end ms-4 mb-3">
                <f:render partial="Media/Gallery" arguments="{_all}" />
            </div>
            <div class="ce-bodytext">
                <f:if condition="{data.tx_header_inside} = 1">
                    <f:render partial="Header/All" arguments="{_all}" />
                </f:if>
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:if>
    </div>
</f:section>

<f:section name="InTextLeft">
    <div class="ce-textmedia ce-intext-left clearfix">
        <div class="float-start me-4 mb-3">
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </div>
        <f:if condition="{data.bodytext} || {data.header}">
            <div class="ce-bodytext">
                <f:if condition="{data.tx_header_inside} = 1">
                    <f:render partial="Header/All" arguments="{_all}" />
                </f:if>
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:if>
    </div>
</f:section>

<f:section name="NextToTextRight">
    <div class="ce-textmedia ce-nexttotext-right">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <f:if condition="{data.bodytext} || {data.header}">
                    <div class="ce-bodytext">
                        <f:if condition="{data.tx_header_inside} = 1">
                            <f:render partial="Header/All" arguments="{_all}" />
                        </f:if>
                        <f:format.html>{data.bodytext}</f:format.html>
                    </div>
                </f:if>
            </div>
            <div class="col-md-6 order-1 order-md-2 mb-3 mb-md-0">
                <f:render partial="Media/Gallery" arguments="{_all}" />
            </div>
        </div>
    </div>
</f:section>

<f:section name="NextToTextLeft">
    <div class="ce-textmedia ce-nexttotext-left">
        <div class="row align-items-center">
            <div class="col-md-6 mb-3 mb-md-0">
                <f:render partial="Media/Gallery" arguments="{_all}" />
            </div>
            <div class="col-md-6">
                <f:if condition="{data.bodytext} || {data.header}">
                    <div class="ce-bodytext">
                        <f:if condition="{data.tx_header_inside} = 1">
                            <f:render partial="Header/All" arguments="{_all}" />
                        </f:if>
                        <f:format.html>{data.bodytext}</f:format.html>
                    </div>
                </f:if>
            </div>
        </div>
    </div>
</f:section>

<f:section name="Below">
    <div class="ce-textmedia ce-below">
        <f:if condition="{data.bodytext} || {data.header}">
            <div class="ce-bodytext mb-4">
                <f:if condition="{data.tx_header_inside} = 1">
                    <f:render partial="Header/All" arguments="{_all}" />
                </f:if>
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:if>
        <f:render partial="Media/Gallery" arguments="{_all}" />
    </div>
</f:section>

</html>